Package: com.yourcompany.wctimelinesightretweet
Name: WCTimelineSightRetweet
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: leonlei
Author: leonlei
Section: Tweaks
